

img {
    width: 500px;
    height: auto;
}

.grid-item {
    width: 500px;
    height: auto;
    margin-bottom: 10px;
}

.grid {
  background: black;
  counter-reset: grid-item;
  margin: 0 auto;
}


