img {
    width: 500px;
    height: auto;
}

.grid-item {
    width: 500px;
    height: auto;
    margin:0 auto 20px auto;
    padding:20px;
}

.grid {
  background: #982398;
  counter-reset: grid-item;
  margin: 0 auto;
}


